{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Urls{% endblock %}</h1>
    <a class="action" href="{{ url_for('shortner.create') }}">New</a>
{% endblock %}

{% block content %}
  {% for url in urls %}
    <article class="post">
      <header>
        <div>
          <h1>{{ url['id'] }} : {{ url['url_short'] }}</h1>
        </div>
          <a class="action" href="{{ url_for('shortner.update', id=url['id']) }}">Edit</a>
          <a class="action" href="{{ url_for('shortner.show', id=url['id']) }}">Show</a>
      </header>
      <p class="body">{{ url['url_full'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <hr>
  <form action="{{ url_for('shortner.index') }}" method="post">
    <input class="danger" type="submit" value="Delete All" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
